@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
html, body, #root { height: 100%; }
.bg-app { background-color: #f6f8ff; }
.serif-heading { font-family: Georgia, "Times New Roman", Times, serif; letter-spacing: 0.02em; }