@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6, .serif-heading {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}